* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  background-color: #eeeeee;
  position: relative;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-img2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-img3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #ff9a4b;
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }
  
  .step-box {
    width: 90%;
    margin: 0 auto;
  }
  
  .step-box:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .step-box:last-child {
    margin: 0 auto;
  }
}
